# =======================
# Unity
# =======================
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild*/
[Ll]ogs/
UserSettings/
MemoryCaptures/
*.unityproj
*.pidb
*.sln
*.user
*.userprefs
*.csproj
.vscode/
.DS_Store
*.apk

# =======================
# ROS 2
# =======================
build/
install/
log/

# =======================
# Python
# =======================
__pycache__/
*.py[cod]
*.pyd
*.pyo
*.pyc
*.egg
*.egg-info/
.eggs/
*.env
*.venv
*.log

# =======================
# Otros
# =======================
*.swp
*.swo
*.bak
*~
.env
.idea/
*.orig

# =======================
# Carpetas temporales personalizadas
# =======================
unity-vr/
